*
{
padding: 0em;
margin: 0em;
}

body
{
background: #fff;
padding: 35px 20px 35px 20px;
color:#353535;
}

body,input
{
font-size: 10pt;
font-family: Verdana, Sans-Serif;
}

p
{
line-height: 1.5em;
margin-bottom: 1.0em;
/*text-align: justify;*/
}


.click_popup
{
text-decoration: none; 
border-bottom:1px dashed;
}

.click_popup:hover
{
text-decoration: none; 
border-bottom:none;
}

a
{
color: #B96D00;
text-decoration: none;
}

.blankLink
{
color:#353535;
}

.noHoverBlankLink
{
color:#353535;
}

.noHoverBlankLink:hover
{
text-decoration:none;
}
a:hover
{
text-decoration: underline;
}

h1, h2, h3, h4, h5
{
	font-family: "georgia", "times new roman", serif;
}
h3 span
{
font-weight: normal;
}

h3,h4
{
display: inline;
font-weight: bold;
background-repeat: no-repeat;
background-position: right;
}

h3
{
font-size: 1.7em;
padding-right: 24px;
}

h4
{
font-size: 1.2em;
color:#3a3a3a;
}

.contentarea
{
padding-top: 1.3em;
}

img
{
border: solid 1px #6F5230;
margin: 0 auto;
margin-bottom: 20px;
}

h3{
	margin-bottom: 2px;
}
img.left
{
position: relative;
float: left;
margin: 0em 1.8em 1.4em 0em;
}

img.right
{
position: relative;
float:right;
margin: 0em 0em 1.8em 1.8em;
}

div.center
{
text-align:center;
}

div.right
{
text-align:right;
}

div.left
{
text-align:left;
}

.divider1
{
position: relative;
height: 1px;
border-bottom: solid 1px #B9B9B9;
margin: 0.5em 0em 3.5em 0em;
clear: both;
}

.dividertop
{
position: relative;
height: 1px;
border-bottom: solid 1px #7C7C7C ;
margin: 3em 0em 3em 0em;
clear: both;
}

ul.list
{
list-style: none;

}

#navHolder
{
	/*TODO center this*/
	padding-top: 10px;
	position: relative;
	margin: 0 auto;
}
#nav
{
	border-left: 1px solid #7C7C7C;
	border-right: 1px solid #7C7C7C;
	margin: 0 auto;
}
#nav td
{
	padding: 10px 20px 10px 20px;
}
#nav a
{
font-weight:bold;
display:block;
/*color: #cc0000;*/
text-align:center;
}

#nav a:hover
{
text-decoration: underline;
}
.tabMore
{
margin-left:40px;
}
ul.list li
{
line-height: 1.5em;
}

#outer, #menu
{
width:700px;
}

#outer
{
position: relative;
background-color: #fff;
margin: 0 auto;
}

#header
{
font-family: "georgia", "times new roman", san-serif;
position: relative;
height: 5.0em;
padding-bottom: 50px;
margin: 0 auto;
width:700px;
}

#headercontent
{
padding-left: 50px;
}

#headercontent .right
{
position: absolute;
right: 2.0em;
}

#headercontent h1
{
font-weight: bold;
font-size: 1.8em;
}

#headercontent h2
{
font-size: 1.0em;
font-weight: normal;
}



.border
{
border-right: 1px solid #7C7C7C;
}


#menubottom
{
height: 1px;
background-color: #7C7C7C;
width:700px;
position: relative;
margin: 0 auto;
}

#content
{
}

#primarycontainer
{
float: left;
margin-right: -18.0em;
width: 100%;
}

#primarycontent
{
margin: 1.5em 22.0em 0em 0em;
}

#footer
{
position: relative;
height: 2.0em;
clear: both;
/*padding-top: 5.0em;*/
font-size: 0.8em;
}

#footer .left
{
position: absolute;
left: 2.0em;
bottom: 1.2em;
}

#footer .right
{
position: absolute;
right: 2.0em;
bottom: 1.2em;
}

#compatibility
{
position: relative;
height: 2.0em;
clear: both;
padding-top: 2.0em;
font-size: 0.8em;
text-align:center;
color: #6B6B6B;
}

/* For popup */
 #blanket {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;
	background: #000;
	opacity: 0.8;
	display:none;
 }
.popup p
{
	text-align:center;
	padding: 0px;
}
 
.popup{ /*CSS for enlarged image*/
position: absolute;
display: none;
background-color: white;
padding: 5px;
border: 1px solid gray;
color: black;
/*left: 50%;
top: 0%; */
text-decoration: none;
z-index:11;
opacity: 1;
}

